/* ProfileEditorComponent's private CSS styles */
.heading{
    color: #33ef67;
  }
  hr{
    font-family: 'Roboto';
    border:1px solid #f1f1f1;
    width:100%;
  }
  
  :host {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
  }
  
  label {  
    margin: .5em 0;
    color: #bfb6b6;
    }
  
  input {
    height: 2em;
    font-size: 1em;
    
    padding-left: .4em;
   
  }
  
  button {
    font-family: 'Roboto';
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #266d39;
    color: white;
    text-align: center;
    width:45%;
  }
  
  button:hover {
    background-color: #cfd8dc;
  }
  
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
  .flex-container{
      display: flex;
  }
  .flex-container>div{
      width: 50%;
  }
  .submit{
      text-align: center;
      
  }
  
  .error{
    color: red;
  }
  
  .change{
    text-align: center;
  }
/* box outside main componenet */
  #box{
   width:70%;
    margin-top: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 10%;
    padding-left: 10%;
    -webkit-box-shadow: 4px 14px 69px 0px rgba(173,152,173,1);
    -moz-box-shadow: 4px 14px 69px 0px rgba(173,152,173,1);
    box-shadow: 4px 14px 69px 0px rgba(173,152,173,1);

}

/*display rounded image */
img {
  border-radius: 50%;
  height:10%;
  width: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}