/* main accordian */
.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
    
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
}
a:hover {
    color: #0056b3;
    text-decoration: none;
}

/* display box outside component */
#box{
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    margin-top: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 3%;
    padding-left: 3%;
}